
.uk-navbar-container .uk-navbar-nav>li>a::before {
     content: ''; 
     display: block; 
     position: absolute; 
     left: 15px; 
     right: calc(102% - 15px); 
     bottom: 20px; 
     height: 1px; 
     background-color: currentColor; 
     -webkit-transition: .3s ease-in-out; 
     transition: .3s ease-in-out; 
     -webkit-transition-property: right; 
     transition-property: right; 
}
.ji-navbar-container.uk-navbar-container .uk-navbar-nav>li>a:hover::before {
    right: 15px;
}
.ji-navbar-container.uk-navbar-container .uk-navbar-nav>li>a {
    position: relative;
    height: 70px;
    font-size: 13px;
}
.ji-navbar-container .uk-search-navbar .uk-search-input {
    height: 30px;
    background: 0 0;
    font-size: 1.2rem;
    width: 200px;
}
.ji-navbar-container .uk-search-navbar {
    width: 200px;
}
.ji-sidebar{
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: 241px !important;
    padding: 40px 40px 60px 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}
.ji-form .ji-grid span{
    line-height: 38px;
}

.ji-main{
    padding: 20px 20px 20px 20px;
}
@media (min-width: 640px){
    .ji-main{
        padding: 20px 40px 20px 40px;
    }
}
@media (min-width: 960px){
    .ji-main{
        padding: 20px 40px 20px 280px;
    }
}
.ji-contain-thim{
    max-width: 650px;
    margin: auto;
}
.ji-check{
    width: 24px;
    height: 24px;
    border-radius: 500px;
    vertical-align: middle;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.ji-red{
    color: crimson;
    border: 1px solid crimson;
}
.ji-green{
    color:#60cc60;
    border: 1px solid #60cc60;
}
.parsley-errors-list li{
    color: #dd3060;
    list-style: none;
}
